//Colors
$white-color: #ffffff;
$beige-color: #f2eae2;
$l-grey-color: #fafafa;
$mustard-color: #ffcc00;
$pastelYellow-color: #ffe161;
$aqua-color: #22a5e5;
$cyan-color: #3098f3;
$blue-color: #0077ff;
$salmon-color: #fe6571;
$purple-color: #5718a5;
$navy-color: #082c4e;
$d-gray-color: #232323;
$black-color: #000000;

// Font Types
$primary-text: 'DM Sans';
$secondary-text: 'sans-serif';




